<div class="memory-game-container">
  <div class="image-container">
    <ng-container *ngIf="gameStatus === GameStatus.BEGINNING">
      <img class="game-background" src="assets/images/memory-game.png" />
      <img
        class="game-button play-button"
        src="assets/images/play-button.png"
        (click)="onClickStartGame()"
      />
    </ng-container>

    <ng-container *ngIf="gameStatus === GameStatus.INSTRUCTIONS">
      <img class="game-background" src="assets/images/instructions.png" />
      <img
        class="game-button play"
        src="assets/images/play.png"
        (click)="startGame()"
      />
    </ng-container>

    <ng-container *ngIf="gameStatus === GameStatus.PLAYING">
      <img class="game-background" src="assets/images/playing-background.png" />
      <span class="game-time">Tempo: {{ time }}s</span>
      <div class="cards-container">
        <app-memory-game-card
          *ngFor="let card of cards"
          [card]="card"
          [cardSelected]="shouldShowCard(card)"
          (click)="selectCard(card)"
          (playAudio)="onPlayAudio(card)"
        ></app-memory-game-card>
      </div>
    </ng-container>

    <ng-container *ngIf="gameStatus === GameStatus.FINISHED">
      <img class="game-background" src="assets/images/memory-game.png" />
      <div class="game-result" *ngIf="gameResult?.result === 'win'">
        <p>Parabéns, você conseguiu!</p>
        <div class="punctuation">
          <span>Pontuação:</span>
          <span>{{ gameResult?.score }}</span>
          <span>pontos</span>
        </div>
      </div>
      <div class="game-result" *ngIf="gameResult?.result === 'lose'">
        <p>Não foi dessa vez!</p>
        <div class="advice">
          <span>Vamos lá, não desista e </span>
          <span>tente novamente!</span>
        </div>
      </div>
      <img
        class="game-button restart-button"
        src="assets/images/restart-button.png"
        (click)="restartGame()"
      />
    </ng-container>
  </div>
</div>

<app-confetti [render]="gameResult?.result === 'win'"></app-confetti>
