.memory-game-container {
  display: flex;
  justify-content: center;

  .image-container {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    border: 6px solid var(--gray-04);
    height: 38rem;

    .game-background {
      width: 55rem;
    }

    .game-button {
      position: absolute;
    }

    .game-time {
      position: absolute;
      top: 2%;
      left: 3%;
      font-family: "Skia", sans-serif;
      font-size: 28px;
      font-weight: 600;
      color: var(--white);
      -webkit-text-stroke-width: 0.5px;
      text-shadow: 2px 2px var(--black);
    }

    .game-result {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      top: 25%;
      left: 50%;
      width: 100%;
      font-family: "Skia", sans-serif;
      font-size: 37px;
      font-weight: 600;
      color: var(--white);
      text-shadow: 3px 2px var(--black);
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: var(--black);
      transform: translate(-50%, -50%);

      > p {
        font-size: 40px;
      }

      .punctuation {
        display: flex;
        flex-direction: column;
        align-items: center;

        span:first-child,
        span:last-child {
          font-size: 30px;
        }

        span:nth-child(2) {
          font-size: 60px;
        }
      }

      .advice {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 30px;
        margin-top: 1.2rem;
      }
    }

    .play-button {
      width: 12rem;
      top: 35%;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
    }

    .play {
      width: 8rem;
      bottom: 1%;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
    }

    .restart-button {
      width: 5rem;
      bottom: 1%;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
    }

    .cards-container {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 3.5rem 2rem 1rem 2rem;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;

      app-memory-game-card {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
