.navbar {
  padding: 0.5rem;
  box-shadow: -1px 1px 12px -1px var(--box-shadow-01);
  background-color: var(--blue-02) !important;

  .container-fluid {
    padding-left: 0;

    .logo-wrapper,
    .pages,
    .actions {
      flex: 1 1 0px;
    }

    .logo-wrapper {
      img {
        width: 11rem;
      }
    }

    .actions {
      display: flex;
      justify-content: flex-end;
    }

    .user-profile-wrapper {
      display: flex;
      justify-content: flex-end;

      img {
        width: 2rem;
      }

      .avatar {
        border-radius: 100%;
      }
    }

    .pages {
      display: flex;
      justify-content: space-between;
      color: var(--white);
      font-size: 1.3rem;
      font-weight: 500;

      a {
        &.active {
          color: var(--gray-01);
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar .container-fluid .pages {
    width: 45%;
  }
}
