<nav class="navbar">
  <div class="container-fluid">
    <div class="logo-wrapper">
      <img src="assets/images/logo.png" />
    </div>
    <div class="pages">
      <a
        class="nav-link"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Página Inicial</a
      >
      <a class="nav-link" routerLink="activities" routerLinkActive="active"
        >Descubra</a
      >
      <a class="nav-link" routerLink="games" routerLinkActive="active"
        >Divirta-se</a
      >
    </div>
    <div class="user-profile-wrapper">
      <img class="avatar" *ngIf="avatar" src="assets/images/{{ avatar }}.png" />
      <img *ngIf="!avatar" src="assets/icons/person-circle.svg" />
    </div>
  </div>
</nav>
