<nav class="navbar">
  <div class="container-fluid">
    <div class="logo-wrapper">
      <a routerLink="" aria-label="Logo - Ir para Página Inicial" role="link">
        <img src="assets/images/logo.png" />
      </a>
    </div>
    <div class="pages">
      <a
        class="nav-link"
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        aria-label="Página Inicial"
        role="link"
        >Página Inicial</a
      >
      <a
        class="nav-link"
        routerLink="activities"
        routerLinkActive="active"
        aria-label="Descubra"
        role="link"
        >Descubra</a
      >
      <a
        class="nav-link"
        routerLink="games"
        routerLinkActive="active"
        aria-label="Divirta-se"
        role="link"
        >Divirta-se</a
      >
    </div>
    <div class="actions">
      <app-acessibility></app-acessibility>
      <div class="user-profile-wrapper" aria-hidden="true">
        <img
          class="avatar"
          *ngIf="avatar"
          src="assets/images/{{ avatar }}.png"
        />
        <img *ngIf="!avatar" src="assets/icons/person-circle.svg" />
      </div>
    </div>
  </div>
</nav>
