<div class="accessibility">
  <div role="group" aria-label="Controles de tamanho da fonte">
    <button
      class="btn btn-light btn-accessibility"
      (click)="decreaseFont()"
      aria-label="Diminuir fonte"
    >
      A-
    </button>
    <button
      class="btn btn-light btn-accessibility"
      (click)="resetFont()"
      aria-label="Tamanho normal da fonte"
    >
      A
    </button>
    <button
      class="btn btn-light btn-accessibility"
      (click)="increaseFont()"
      aria-label="Aumentar fonte"
    >
      A+
    </button>
  </div>
</div>
