<ng-template #modalTemplate class="modal-login-template">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Escolha seu Personagem e Nome</h4>
  </div>
  <div class="modal-body">
    <form [formGroup]="userForm">
      <div
        class="login-images"
        role="listbox"
        aria-label="Selecione um personagem"
      >
        <img
          class="character"
          *ngFor="let image of images; index as i"
          [attr.src]="image.src"
          [attr.alt]="image.alt"
          [attr.tabindex]="0"
          class="clickable"
          [ngClass]="{ active: i === current }"
          (click)="selectImage(i)"
          (keydown.enter)="selectImage(i)"
          role="option"
          [attr.aria-selected]="i === current ? true : false"
        />
      </div>

      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Nome do Personagem"
          formControlName="nickName"
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-default"
      (click)="createUser()"
      [disabled]="userForm.invalid || saving"
      [attr.tabindex]="0"
      [attr.aria-disabled]="userForm.invalid || saving"
    >
      Entrar
    </button>
  </div>
</ng-template>
