:root {
  // Colors
  --blue-01: #394c70;
  --blue-02: #1d438a;
  --blue-03: #4071b0;
  --blue-04: #7ca5f2;

  --gray-01: #d0d0d0;
  --gray-02: #dedede;
  --gray-03: #1f2d29;
  --gray-04: #797979;

  --green-01: #bad9d0;
  --green-02: #a9cfc5;

  --pink-01: #c76b94;

  --white: #ffffff;

  --black: #000000;

  // Elements
  --box-shadow-01: #0f0f0f;
  --box-shadow-02: #000000bf;
}
