:root {
  // Colors
  --blue-01: #394c70;
  --blue-02: #1d438a;
  --blue-03: #4071b0;
  --blue-04: #7ca5f2;
  --blue-05: #a4c1f6;
  --blue-06: #d3e2ff;
  --blue-07: #d3e3ff;

  --gray-01: #d0d0d0;
  --gray-02: #dedede;
  --gray-03: #1f2d29;
  --gray-04: #797979;
  --gray-05: #d9d9d9;
  --gray-06: #a3a3a3;
  --gray-07: #b2acac;

  --green-01: #bad9d0;
  --green-02: #a9cfc5;
  --green-03: #007d0d;
  --green-04: #25652b;
  --green-05: #fbfffe;
  --green-06: #48e357;

  --pink-01: #c76b94;

  --red-01: #f93333;

  --white: #ffffff;

  --black: #000000;

  // Elements
  --box-shadow-01: #0f0f0f;
  --box-shadow-02: #000000bf;
  --box-shadow-03: #0000004d;
  --box-shadow-04: #00000080;
}
