:root {
  // Colors
  --blue-01: #394c70;
  --blue-02: #1d438a;

  --gray-01: #d0d0d0;
  --gray-02: #dedede;

  --green-01: #bad9d0;

  --pink-01: #c76b94;

  --white: #ffffff;

  // Elements
  --box-shadow-01: #0f0f0f;
  --box-shadow-02: #000000bf;
}
