<div class="activities-category-container" *ngIf="activity">
  <div class="breadcrumb">
    <img src="{{ activity.src }}" width="6rem" />
    <h3 class="breadcrumb-item" aria-current="page">
      {{ activity.portugueseName }}
    </h3>
    <p class="breadcrumb-item" aria-current="page">
      {{ activity.englishName }}
    </p>
  </div>

  <div class="categories-cards">
    <div class="row row-cols-1 row-cols-md-2 g-6">
      <div class="col" *ngFor="let category of categories; index as i">
        <div class="card" (click)="selectCategory(activity.key)">
          <div class="card-body">
            <img
              src="{{ categories[i].src }}"
              [style]="{ width: categories[i].width }"
            />
            <div class="card-details">
              <h5 class="card-title">{{ categories[i].portugueseName }}</h5>
              <h6>{{ categories[i].englishName }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
