:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  main {
    flex: 1;
  }
}

footer {
  position: relative;
  bottom: 0;
  background-color: var(--gray-03);
  color: var(--white);
  padding: 16px;
  width: 100%;

  h6 {
    font-weight: 700;
    font-size: 1.1rem;
  }

  p {
    margin-left: 32px;
  }
}

@media screen and (max-width: 1024px) {
  footer {
    position: relative;
  }
}
