<app-navbar></app-navbar>

<router-outlet></router-outlet>

<footer>
  <h6>Sobre a aplicação:</h6>
  <p>
    O Little Linguist consiste em uma aplicação web destinada a ensinar o inglês
    básico para crianças, devido a importância que essa linguagem possui nos
    dias atuais. A aplicação conta com basicamente duas seções: jogos e
    atividades. Na seção de jogos a criança pode realizar alguns jogos simples
    enquanto aprende novas palavras em inglês. Na seção de atividades, a criança
    realizará um pequeno estudo de um determinado conteúdo e em seguida
    realizará algumas atividades para complementar tal conteúdo.
  </p>
</footer>
