footer {
  position: fixed;
  bottom: 0;
  background-color: var(--gray-03);
  color: var(--white);
  padding: 1rem;
  width: 100%;

  h6 {
    font-weight: 700;
    font-size: 1.1rem;
  }

  p {
    margin-left: 2rem;
  }
}
