<div class="ranking-container">
  <div class="ranking-header">
    <img src="assets/images/rating.png" />
    <h5>Classificação</h5>
  </div>

  <div class="ranking-body">
    <div class="card">
      <div class="card-body">
        <div class="second">
          <div>
            <img class="avatar" src="assets/images/login-img2.png" />
            <img src="assets/images/second.png" />
          </div>
          <div>
            <span class="nickname">Cicrano</span>
            <span class="ponctuation">100</span>
          </div>
        </div>
        <div class="first">
          <div>
            <img class="avatar" src="assets/images/login-img1.png" />
            <img src="assets/images/first.png" />
          </div>
          <div>
            <span class="nickname">Fulano</span>
            <span class="ponctuation">120</span>
          </div>
        </div>
        <div class="third">
          <div>
            <img class="avatar" src="assets/images/login-img3.png" />
            <img src="assets/images/third.png" />
          </div>
          <div>
            <span class="nickname">Beltrano</span>
            <span class="ponctuation">70</span>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <h3>Sua colocação</h3>
        <div>
          <div>10</div>
          <div>
            <img src="assets/images/login-img4.png" />
            <span>UserNick</span>
          </div>
          <div>120 pontos</div>
        </div>
      </div>
    </div>
  </div>
</div>
