:host {
  perspective: 1000px;
}

.memmory-game-card-container.card-selected {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-back {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.memmory-game-card-container {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;

  .card-image {
    position: absolute;
    width: 4rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .card-word-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
