<div
  class="memmory-game-card-container"
  *ngIf="card"
  [ngClass]="{ 'card-selected': cardSelected }"
>
  <img src="assets/images/card.png" />

  <div class="card-front"></div>
  <div class="card-back">
    <ng-container *ngIf="card.type === 'image'">
      <img class="card-image" [src]="card.src" />
    </ng-container>

    <ng-container *ngIf="card.type === 'word'">
      <div class="card-word-container ignore-hc-background">
        <h5 class="ignore-hc-color ignore-hc-background">{{ card.word }}</h5>
        <img
          [attr.aria-hidden]="!shouldShowPlayButton"
          [tabindex]="shouldShowPlayButton ? 0 : -1"
          aria-label="Pressione Enter para ouvir"
          role="button"
          class="clickable"
          src="assets/images/sound.png"
          (click)="onClickPlayAudio($event)"
          (keydown.enter)="onClickPlayAudio($event)"
        />
      </div>
    </ng-container>
  </div>
</div>
