@import "styles/variables.scss";
@import "ngx-toastr/toastr";

html,
body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(var(--green-01), var(--white));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

*:focus-visible {
  outline: -webkit-focus-ring-color auto 1px !important;
}

// ************************************************************************************************
// **************************************** Alto contraste ****************************************
// ************************************************************************************************
.high-contrast {
  *:not(.ignore-hc-background):not(img) {
    background-color: black !important;
  }

  *:not(.ignore-hc-color) {
    color: white !important;
  }

  *:not(.ignore-hc-border-color) {
    border-color: white !important;
  }

  *:focus-visible {
    outline: 3px solid #ffff00 !important;
  }

  input::placeholder {
    color: white !important;
    opacity: 0.5;
  }

  button[disabled] {
    border: 1px solid white !important;
    color: white !important;
  }

  a,
  button,
  .clickable {
    &:not(.ignore-hc-color) {
      color: yellow !important;
      border-color: yellow !important;

      i {
        color: yellow !important;
      }
    }
  }

  .carousel button {
    &.carousel-control-prev,
    &.carousel-control-next {
      filter: none !important;
      opacity: 1 !important;
    }
  }

  .button-border {
    border: 2px solid yellow !important;
  }

  header {
    border-bottom: 2px solid white;
  }

  footer {
    border-top: 2px solid white;
  }
}
